body{
    margin: 0 auto;
    width: 950px;
}

header{
    height: auto;
    background-color: aquamarine;
}

#imagen{
    width: 150px;
    height: 150px;
    float: left;
}

img{
    width: 150px;
    height: auto;
}

nav{
    width: 800px;
    height: 100px;
    float: right;
}

li{
    flex-grow: 1;
    list-style: none;
    background-color: aqua;
    height: 90px;
}

li a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}


ul{
    margin: 0;
    padding: 0;
    display: flex;
}